@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* TODO: PC端，导航栏下划线动效 */

    /* 移动端菜单按钮 */
    .menu {
        display: inline-block;
        cursor: pointer;
        position: relative;
        left: 85%;
        bottom: 65px;
    }

    /* 添加按钮的样式 */
    .menu div {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: transform 0.4s, opacity 0.4s;
    }

    /* 为按钮添加激活样式 */
    .menu .bar1-active {
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .menu .bar2-active {
        opacity: 0;
    }

    .menu .bar3-active {
        transform: rotate(45deg) translate(-8px, -8px);
    }

    /* 移动端点击菜单按钮前 */
    @media all and (max-width: 1024px) {
        .mobile-header-hide {
            display: none;
        }
    }

    /* 移动端点击菜单按钮后 */
    @media all and (max-width: 1024px) {
        .mobile-header-hide.mobile-header-show { /* 此写法可直接覆盖掉42行的 display: none; */
            display: inline-flex;
        }
    }

    /* 移动端点击菜单按钮后的导航栏样式 */
    @media all and (max-width: 1024px) {
        .mobile-header-style {
            background-color: #fff;
            top: 4rem;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            font-size: 1.5rem;
            padding: 20px 12px 110px 12px;
            overflow: auto;
        }
    }

    /* 移动端点击菜单后隐藏内容页滚动条 */
    @media all and (max-width: 1024px) {
        .scroll-hide {
            overflow-y: hidden;
        }
    }
}