@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* PC端导航栏背景颜色（透明） */
    .pc-header-bg {
        background-color: transparent;
        background-image: linear-gradient(180deg, var(--tw-gradient-stops));
        --tw-gradient-from: rgba(0, 0, 0, 0.75);
        --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, transparent);
        --tw-gradient-to: transparent;
    }

    /* 控制导航栏背景颜色为白色 */
    .pc-header-bg.header-white-bg {
        background-color: #fff;
        background-image: none;
    }

    /* 控制导航栏主标题字体颜色为黑色 */
    .lg\:text-white.text-black{
        color: black;
    }

    /* PC端导航栏链接下划线动效 */
    @media all and (min-width: 1024px) {
        .pc-link-line {
            border-color: #0ea5e9;
            transition: border-color 0.3s ease-in-out; /* 添加过渡动画 */
        }

        .pc-link-line:hover {
            border-bottom-width: 3px;
            --tw-border-opacity: 1;
            border-color: rgba(3, 105, 161, var(--tw-border-opacity)); /* 蓝色 */
        }
    }

    /* 移动端菜单按钮 */
    .menu {
        display: inline-block;
        cursor: pointer;
        position: relative;
        left: 87%;
        bottom: 65px;
    }

    /* 添加按钮的样式 */
    .menu div {
        width: 32px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: transform 0.4s, opacity 0.4s;
    }

    /* 为按钮添加激活样式 */
    .menu .bar1-active {
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .menu .bar2-active {
        opacity: 0;
    }

    .menu .bar3-active {
        transform: rotate(45deg) translate(-8px, -8px);
    }

    /* 移动端点击菜单按钮前 */
    @media all and (max-width: 1024px) {
        .mobile-header-hide {
            display: none;
        }
    }

    /* 移动端点击菜单按钮后 */
    @media all and (max-width: 1024px) {
        .mobile-header-hide.mobile-header-show { /* 此写法可直接覆盖掉42行的 display: none; */
            display: inline-flex;
        }
    }

    /* 移动端点击菜单按钮后的导航栏样式 */
    @media all and (max-width: 1024px) {
        .mobile-header-style {
            background-color: #fff;
            top: 4rem;
            left: 0;
            width: 100%;
            height: 500px;
            display: flex;
            flex-direction: column;
            gap: 1.15rem;
            font-size: 1.2rem;
            padding: 25px 25px 110px 25px;
            overflow: auto;
        }
    }

    /* 移动端点击菜单后隐藏内容页滚动条 */
    @media all and (max-width: 1024px) {
        .scroll-hide {
            overflow-y: hidden;
        }
    }

    /* 自定义基础Grid样式（BaseGrid） */
    @media (min-width: 1024px) {
        .BaseGrid {
            display: grid;
            grid-template-columns: repeat(12, minmax(0, 1fr));
            gap: 3.5rem;
        }
    }

    /* 自定义B站视频嵌入样式 */
    .bilibili-video {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }

    /* “隶属部门标语”CSS部分 */
    /* 文字基础样式 */
    .slogan-base {
        line-height: 1.4;
        padding-top: 1rem;
        padding-bottom: 1rem;
        font-size: 1.25rem;
        font-weight: 500;
        font-style: italic;
        color: rgb(24, 121, 189);
    }
    /* 文字PC端样式 */
    .slogan-pc {
        font-size: 1.875rem;
        font-weight: 400;
    }
    /* 分割线基础样式 */
    .slogan-hr-base {
        max-width: 150px;
        margin-left: auto;
        margin-right: auto;
        border-color: #125f96;
        border: 0;
        padding: 3px;
        background: repeating-linear-gradient(135deg, #125f96 0px, #125f96 1px, transparent 1px, transparent 7px);
    }
    /* 分割线PC端样式 */
    .slogan-hr-pc {
        max-width: 300px;
    }
}